In [1]:
import pandas as pd
import numpy as np

In [135]:
comp = pd.read_csv('ranked_comp.csv')

In [142]:
comp.iloc[:,1:]

        comp   KIS    KR NICE
0     AJ네트웍스  BBB+  BBB+
1     APS홀딩스         BBB
2      AP시스템         BBB
3        BGF               A+
4    BNK금융지주   AAA   AAA  AAA
..       ...   ...   ...  ...
856      휴니드
857      휴맥스        BBB-
858      휴비스          A-   A-
859     흥국화재                A
860     흥아해운         CCC  CCC

[861 rows x 4 columns]

In [94]:
rank1 = comp.KIS.unique()

In [95]:
rank2 = comp.KR.unique()

In [96]:
rank3 = comp.NICE.unique()

In [97]:
rank = set(rank1).union(set(rank2)).union(set(rank3))

In [98]:
rank

{'A',
 'A+',
 'A-',
 'AA',
 'AA+',
 'AA-',
 'AAA',
 'B',
 'B+',
 'B-',
 'BB',
 'BB+',
 'BB-',
 'BBB',
 'BBB+',
 'BBB-',
 'C',
 'CC',
 'CCC',
 'CCC+',
 'CCC-',
 'D',
 nan,
 '\xa0',
 '취소'}

In [99]:
rank_dic = {
    'A': 20,
    'A+': 21,
    'A-': 19,
    'AA': 23,
    'AA+': 24,
    'AA-': 22,
    'AAA': 25,
    'B': 11,
    'B+': 12,
    'B-': 10,
    'BB': 14,
    'BB+': 15,
    'BB-': 13,
    'BBB': 17,
    'BBB+': 18,
    'BBB-': 16,
    'C': 5,
    'CC': 6,
    'CCC': 8,
    'CCC+': 9,
    'CCC-': 7,
    'D': 4,
    'nan': 99,
    '\xa0': 99,
    '취소': 99,
}

In [100]:
rankers = [row.KIS, row.KR, row.NICE]
ranks = [rank_dic[row.KIS], rank_dic[row.KR], rank_dic[row.NICE]]

target = np.argmin(ranks)

rankers[target]

'CCC'

In [101]:
row = comp.iloc[0]

In [102]:
rank_dic[row.KIS]

18

In [103]:
rank_dic[row.KR]

18

In [104]:
rank_dic[row.NICE]

99

In [105]:
comp_rank = []
rank_val = []
err_idx = []

for index, row in comp.iterrows():
    rankers = [row.KIS, row.KR, row.NICE]
    
    try:
        ranks = [rank_dic[row.KIS], rank_dic[row.KR], rank_dic[row.NICE]]
    except Exception as e:
        err_idx.append(index)
        comp_rank.append(None)
        rank_val.append(None)
        continue;

    target = np.argmin(ranks)

    rank = rankers[target]
    
    rank_val.append(ranks[target])
    comp_rank.append(rank)

In [106]:
comp['rank'] = comp_rank

In [107]:
comp['rank_val'] = rank_val

In [108]:
temp = comp.dropna()

In [109]:
temp = temp[temp.rank_val < 30]

In [129]:
cleaned_comp = temp

In [130]:
cleaned_comp = cleaned_comp.rename(columns={'Unnamed: 0': 'index'})

In [132]:
cleaned_comp = cleaned_comp.set_index('index')

In [134]:
cleaned_comp.to_csv('cleaned_comp.csv', index=True)