In [72]:
# 필요 라이브러리 import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import cross_val_score, cross_validate


from sklearn.model_selection import train_test_split

In [73]:
df = pd.read_csv('dataSet03.csv')

In [74]:
temp = df.drop(columns=['Unnamed: 0'])

In [75]:
temp = temp.set_index('index')

In [76]:
data = temp

In [77]:
X = data.iloc[:,:-2]

In [78]:
y = data['target']

In [79]:
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection as ms

# StandarScaler 적용

scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

# 변환된 X로 데이터 분할
X_train, X_test, y_train, y_test = ms.train_test_split(
    X_scaled, y,test_size = 0.2, random_state = 100
)

In [80]:
import sklearn.svm as svm
import sklearn.metrics as mt
from sklearn.model_selection import cross_val_score, cross_validate

In [81]:
# # SVM, kernel = 'linear'로 선형분리 진행
 
# svm_clf =svm.SVC(kernel = 'linear', random_state=100)

# # 변환된 X로 교차검증

# scores = cross_val_score(svm_clf, X_scaled, y, cv = 5)
# scores

# pd.DataFrame(cross_validate(svm_clf, X_scaled, y, cv =10))
# print('교차검증 평균: ', scores.mean())

In [82]:
from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'linear',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 200, 400, 800],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 200, 400, 800]}

grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 5)

grid_svm.fit(X_train, y_train)

result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False).head(10)

         C    gamma  mean_test_score
88   200.0    0.001         0.761446
99   400.0    0.001         0.761446
101  400.0    0.100         0.761446
102  400.0    1.000         0.761446
103  400.0   10.000         0.761446
104  400.0   25.000         0.761446
105  400.0   50.000         0.761446
106  400.0  100.000         0.761446
107  400.0  200.000         0.761446
108  400.0  400.000         0.761446

In [83]:
# 비선형 svm 성능 비교

from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [0.001, 0.01, 0.1, 1, 10, 25, 50, 100],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100]}

grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 5)

grid_svm.fit(X_train, y_train)

result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False).head(10)

        C  gamma  mean_test_score
42   25.0   0.10         0.773494
50   50.0   0.10         0.768675
34   10.0   0.10         0.766265
58  100.0   0.10         0.756627
35   10.0   1.00         0.749398
57  100.0   0.01         0.746988
49   50.0   0.01         0.742169
27    1.0   1.00         0.742169
41   25.0   0.01         0.739759
51   50.0   1.00         0.737349

In [86]:
# model test

svm_clf = svm.SVC(C=25, gamma=0.1, kernel = 'linear',random_state=100)

svm_clf.fit(X_train, y_train)

y_pred = svm_clf.predict(X_test)

test_acc = np.mean(y_test == y_pred)

print('test acc: ', test_acc)

test acc:  0.7307692307692307

In [84]:
# linear svm에서 파라미터 조정

from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': np.arange(1, 30, 5),
             'gamma': np.arange(0.1, 0.5, 0.1)}

grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 5)

grid_svm.fit(X_train, y_train)

result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False).head(10)

     C  gamma  mean_test_score
5    6    0.2         0.780723
9   11    0.2         0.778313
4    6    0.1         0.775904
16  21    0.1         0.773494
3    1    0.4         0.773494
12  16    0.1         0.771084
20  26    0.1         0.771084
2    1    0.3         0.771084
6    6    0.3         0.768675
8   11    0.1         0.763855

In [85]:
# model test

svm_clf = svm.SVC(C=6, gamma=0.2, kernel = 'rbf',random_state=100)

svm_clf.fit(X_train, y_train)

y_pred = svm_clf.predict(X_test)

test_acc = np.mean(y_test == y_pred)

print('test acc: ', test_acc)

test acc:  0.7884615384615384

In [16]:
from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'linear',random_state=100)
parameters = {'C': [100, 150, 200, 300],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 150, 100]}

result = []

for C in parameters['C']:
    for gamma in parameters['gamma']:
        clf = svm.SVC(C=C, kernel='rbf', gamma=gamma)
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        
        temp = {}
        temp['C'] = C
        temp['gamma'] = gamma
        temp['test_acc'] = np.mean(y_test == y_pred)
        result.append(temp)
        
result = pd.DataFrame(result)
result = result.sort_values('test_acc', ascending=0)
result.head(10)

      C  gamma  test_acc
32  300  0.100  0.798077
22  200  0.100  0.778846
0   100  0.001  0.769231
2   100  0.100  0.769231
12  150  0.100  0.769231
31  300  0.010  0.759615
11  150  0.010  0.750000
1   100  0.010  0.740385
33  300  1.000  0.740385
30  300  0.001  0.740385

In [17]:
from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [100, 150, 200, 300],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 150, 100]}

result = []

for C in parameters['C']:
    for gamma in parameters['gamma']:
        clf = svm.SVC(C=C, kernel='rbf', gamma=gamma)
        clf.fit(X_train, y_train)
        y_pred = clf.predict(X_test)
        
        temp = {}
        temp['C'] = C
        temp['gamma'] = gamma
        temp['test_acc'] = np.mean(y_test == y_pred)
        result.append(temp)
        
result = pd.DataFrame(result)
result = result.sort_values('test_acc', ascending=0)
result.head(10)

      C  gamma  test_acc
32  300  0.100  0.798077
22  200  0.100  0.778846
0   100  0.001  0.769231
2   100  0.100  0.769231
12  150  0.100  0.769231
31  300  0.010  0.759615
11  150  0.010  0.750000
1   100  0.010  0.740385
33  300  1.000  0.740385
30  300  0.001  0.740385

# LDA

In [132]:
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [135]:
clf = LinearDiscriminantAnalysis()
clf.fit(X_train,y_train)

LinearDiscriminantAnalysis()

In [140]:
y_pred = clf.predict(X_test)

In [143]:
np.mean(y_pred == y_test)

0.6826923076923077

In [157]:
y_pred = clf.predict(X_test)
confusion_matrix(y_test,y_pred)

array([[55,  4],
       [29, 16]], dtype=int64)

# QDA

In [144]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

In [146]:
clf2 = QuadraticDiscriminantAnalysis()
clf2.fit(X_test,y_test)

QuadraticDiscriminantAnalysis()

In [149]:
y_pred = clf2.predict(X_test)

In [150]:
np.mean(y_pred == y_test)

0.875

In [154]:
y_pred = clf2.predict(X_test)
confusion_matrix(y_test,y_pred)

array([[59,  0],
       [13, 32]], dtype=int64)

# PCA

In [66]:
from sklearn.decomposition import PCA

In [243]:
data.iloc[:, :-1]

,매출액_b1,영업이익_b1,당기순이익_b1,영업이익률_b1,순이익률_b1,부채비율_b1,당좌비율_b1,매출액_증분,영업이익_증분,당기순이익_증분,영업이익률_증분,순이익률_증분,부채비율_증분,당좌비율_증분
index,,,,,,,,,,,,,,
0,0.034143,0.179486,0.241277,0.787418,0.004444,0.011351,0.695488,0.190642,0.634191,0.765670,0.232822,0.060469,0.717825,0.813961
1,0.020644,0.171951,0.241096,0.665484,0.005637,0.008398,0.695721,0.184996,0.628647,0.768136,0.205772,0.057546,0.715848,0.813887
2,0.025798,0.180740,0.246804,0.821917,0.005736,0.008772,0.696015,0.183905,0.634033,0.770190,0.237621,0.061506,0.715205,0.813867
3,0.025201,0.178306,0.242587,0.809291,0.004866,0.007633,0.698066,0.192104,0.633616,0.768496,0.221027,0.059613,0.716049,0.814686
5,0.493320,0.352192,0.292327,0.784681,0.004520,0.009636,0.695658,0.346507,0.669396,0.763125,0.231370,0.060974,0.716973,0.814000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,0.015445,0.173124,0.240507,0.391726,0.214726,0.011993,0.000000,0.173241,0.630024,0.768893,0.091539,0.227246,0.600666,0.133959
857,0.019581,0.173215,0.240559,0.734091,0.021362,0.025403,0.690575,0.184705,0.630371,0.768968,0.230851,0.065383,0.708212,0.814807
858,0.019230,0.173154,0.240554,0.716912,0.013032,0.009096,0.682638,0.182829,0.630144,0.768933,0.212909,0.063225,0.713867,0.802689
859,0.021878,0.173256,0.240639,0.828398,0.151411,0.008999,0.707593,0.187106,0.630304,0.768982,0.243004,0.056847,0.716595,0.820118
860,0.020447,0.173360,0.240715,0.824208,0.015121,0.007897,0.695821,0.185147,0.630542,0.768941,0.209430,0.060561,0.717059,0.813915

In [244]:
pca = PCA(n_components=5)

printcipalComponents = pca.fit_transform(data.iloc[:, :-1], )

# principalDf = pd.DataFrame(data=printcipalComponents, columns = ['principal component1', 'principal component2', '3'])

pca.explained_variance_ratio_

array([0.27420586, 0.19927882, 0.11950166, 0.09396834, 0.08404956])

In [249]:
principalDf = pd.DataFrame(printcipalComponents)

In [250]:
principalDf

            0         1         2         3         4
0   -0.001145 -0.016390 -0.027171 -0.002398 -0.001468
1   -0.038717  0.066025 -0.021511 -0.019226  0.020083
2   -0.002478 -0.040469 -0.032836  0.007525 -0.007444
3   -0.004129 -0.030763 -0.031333  0.003511 -0.004457
4    0.489191  0.102467 -0.021964 -0.038155 -0.004763
..        ...       ...       ...       ...       ...
514 -0.192048  0.710887 -0.130306 -0.108452  0.675981
515 -0.028499  0.024946 -0.009147 -0.003713  0.006599
516 -0.033320  0.040568 -0.025750 -0.011182  0.020168
517 -0.020859  0.012098  0.002891  0.033839 -0.071167
518 -0.011646 -0.035308 -0.028724  0.003562 -0.008293

[519 rows x 5 columns]

# PCA 이후 SVM

In [256]:
data['target']

index
0      0
1      0
2      0
3      1
5      1
      ..
853    1
857    0
858    1
859    1
860    0
Name: target, Length: 519, dtype: int64

In [262]:
principalDf

            0         1         2         3         4
0   -0.001145 -0.016390 -0.027171 -0.002398 -0.001468
1   -0.038717  0.066025 -0.021511 -0.019226  0.020083
2   -0.002478 -0.040469 -0.032836  0.007525 -0.007444
3   -0.004129 -0.030763 -0.031333  0.003511 -0.004457
4    0.489191  0.102467 -0.021964 -0.038155 -0.004763
..        ...       ...       ...       ...       ...
514 -0.192048  0.710887 -0.130306 -0.108452  0.675981
515 -0.028499  0.024946 -0.009147 -0.003713  0.006599
516 -0.033320  0.040568 -0.025750 -0.011182  0.020168
517 -0.020859  0.012098  0.002891  0.033839 -0.071167
518 -0.011646 -0.035308 -0.028724  0.003562 -0.008293

[519 rows x 5 columns]

In [264]:
from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [100, 150, 200, 300],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 150, 100]}

result = []

for C in parameters['C']:
    for gamma in parameters['gamma']:
        clf = svm.SVC(C=C, kernel='rbf', gamma=gamma)
        clf.fit(principalDf, data['target'])
        y_pred = clf.predict(principalDf)
        
        temp = {}
        temp['C'] = C
        temp['gamma'] = gamma
        temp['test_acc'] = np.mean(data['target'] == y_pred)
        result.append(temp)
        
result = pd.DataFrame(result)
result = result.sort_values('test_acc', ascending=0)
result.head(10)

      C  gamma  test_acc
38  300  150.0  0.842004
28  200  150.0  0.842004
18  150  150.0  0.840077
36  300   50.0  0.836224
39  300  100.0  0.834297
37  300  100.0  0.834297
29  200  100.0  0.832370
26  200   50.0  0.832370
27  200  100.0  0.832370
8   100  150.0  0.832370

In [266]:
from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'linear',random_state=100)
parameters = {'C': [100, 150, 200, 300],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 150, 100]}

result = []

for C in parameters['C']:
    for gamma in parameters['gamma']:
        clf = svm.SVC(C=C, kernel='rbf', gamma=gamma)
        clf.fit(principalDf, data['target'])
        y_pred = clf.predict(principalDf)
        
        temp = {}
        temp['C'] = C
        temp['gamma'] = gamma
        temp['test_acc'] = np.mean(data['target'] == y_pred)
        result.append(temp)
        
result = pd.DataFrame(result)
result = result.sort_values('test_acc', ascending=0)
result.head(10)

      C  gamma  test_acc
38  300  150.0  0.842004
28  200  150.0  0.842004
18  150  150.0  0.840077
36  300   50.0  0.836224
39  300  100.0  0.834297
37  300  100.0  0.834297
29  200  100.0  0.832370
26  200   50.0  0.832370
27  200  100.0  0.832370
8   100  150.0  0.832370

# 모든 데이터를 다 사용

In [50]:
from sklearn.preprocessing import minmax_scale

In [51]:
df

,Unnamed: 0,index,매출액_b3,매출액_b2,매출액_b1,영업이익_b3,영업이익_b2,영업이익_b1,당기순이익_b3,당기순이익_b2,...,순이익률_b2,순이익률_b1,부채비율_b3,부채비율_b2,부채비율_b1,당좌비율_b3,당좌비율_b2,당좌비율_b1,rank_val,target
0,0,0,8720.0,9819.0,12084.0,211.00,481.00,754.00,-33.00,767.00,...,7.81,0.73,451.43,273.80,309.37,29.75,46.83,32.53,18.0,1
1,1,1,253.0,394.0,408.0,-109.00,-40.00,-153.00,-423.00,236.00,...,59.84,15.66,65.87,80.00,72.92,121.10,105.86,75.64,17.0,1
2,2,2,5918.0,5287.0,4866.0,463.00,643.00,905.00,250.00,572.00,...,10.81,16.90,168.76,123.83,102.86,91.30,164.07,129.68,17.0,1
3,3,3,1544.0,1502.0,4350.0,146.00,379.00,612.00,179.00,360.00,...,23.96,6.02,7.88,14.36,11.60,423.53,365.88,507.76,21.0,1
4,4,5,319991.0,344840.0,409249.0,13903.00,18818.00,21542.00,2040.00,8070.00,...,2.34,1.68,159.97,154.84,172.03,73.36,69.78,63.95,22.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,514,853,-116.0,584.0,-4089.0,3.35,5.42,-11.70,-0.64,2.32,...,522.12,2631.81,2486.25,2853.75,360.75,-3641.00,18311.00,-128166.00,20.0,1
515,515,857,-874.0,-409.0,-511.0,1.54,-7.81,-0.76,-10.00,-6.36,...,157.12,212.41,2408.18,1606.47,1434.57,-3193.00,-1041.00,-873.00,16.0,1
516,516,858,826.0,35.0,-815.0,4.33,0.60,-8.12,8.98,0.32,...,80.28,108.19,185.40,178.62,128.78,2382.00,106.00,-2336.00,19.0,1
517,517,859,227.0,620.0,1475.0,0.58,1.71,4.11,0.51,1.37,...,1892.66,1839.61,122.14,111.97,121.00,349.00,952.00,2264.00,20.0,1
518,518,860,-509.0,164.0,238.0,-6.52,-2.29,16.69,-57.20,20.11,...,140.24,134.33,-74.75,13.69,32.73,-1955.00,118.00,94.00,8.0,0

In [52]:
temp = df

In [53]:
temp = temp.iloc[:, :-2]

In [54]:
temp = minmax_scale(temp)

In [55]:
temp = pd.DataFrame(temp)

In [56]:
pca = PCA(n_components=6)

printcipalComponents = pca.fit_transform(temp)

# principalDf = pd.DataFrame(data=printcipalComponents, columns = ['principal component1', 'principal component2', '3'])

print('explained_variance_ratio: ', pca.explained_variance_ratio_)

principalDf = pd.DataFrame(printcipalComponents)

NameError: name 'PCA' is not defined

In [57]:
X_train, X_test, y_train, y_test = train_test_split(principalDf, data['target'], test_size=0.2, )

NameError: name 'principalDf' is not defined

In [58]:
from sklearn.model_selection import GridSearchCV

# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': [100, 150, 200, 300],
             'gamma':[0.001, 0.01, 0.1, 1, 10, 25, 50, 100, 150, 100]}

# result = []

# for C in parameters['C']:
#     for gamma in parameters['gamma']:
#         clf = svm.SVC(C=C, kernel='rbf', gamma=gamma)
#         clf.fit(X_train, y_train)
#         y_pred = clf.predict(X_test)
        
#         temp = {}
#         temp['C'] = C
#         temp['gamma'] = gamma
#         temp['test_acc'] = np.mean(y_test == y_pred)
#         result.append(temp)
        
grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 5)

grid_svm.fit(X_train, y_train)

result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False).head(10)

        
# result = pd.DataFrame(result)
# result = result.sort_values('test_acc', ascending=0)
# result.head(10)

      C  gamma  mean_test_score
31  300  0.010         0.761446
22  200  0.100         0.759036
11  150  0.010         0.759036
2   100  0.100         0.756627
32  300  0.100         0.754217
21  200  0.010         0.754217
12  150  0.100         0.751807
1   100  0.010         0.746988
30  300  0.001         0.737349
20  200  0.001         0.734940

In [59]:
# model test

svm_clf = svm.SVC(C=300, gamma=10, kernel = 'rbf',random_state=100)

svm_clf.fit(X_train, y_train)

y_pred = svm_clf.predict(X_test)

test_acc = np.mean(y_test == y_pred)

print('test acc: ', test_acc)

test acc:  0.7019230769230769

# 변수 확장

In [60]:
temp_df = df.iloc[:, :-2]

In [61]:
cols = temp_df.columns

In [62]:
# 제곱항

for col in cols:
    new_col_name = col + '^2'
    temp_df[new_col_name] = temp_df[col] ** 2

# 세제곱항

for col in cols:
    new_col_name = col + '^3'
    temp_df[new_col_name] = temp_df[col] ** 3

# 네제곱항

for col in cols:
    new_col_name = col + '^4'
    temp_df[new_col_name] = temp_df[col] ** 4

# 5제곱항

for col in cols:
    new_col_name = col + '^5'
    temp_df[new_col_name] = temp_df[col] ** 5

In [63]:
# 스케일링

temp_df = minmax_scale(temp_df)
temp_df = pd.DataFrame(temp_df)

In [67]:
# pca

pca = PCA(n_components=20)

printcipalComponents = pca.fit_transform(temp_df)

# principalDf = pd.DataFrame(data=printcipalComponents, columns = ['principal component1', 'principal component2', '3'])

pca.explained_variance_ratio_

array([0.66948131, 0.08159996, 0.04337211, 0.03454111, 0.03255056,
       0.01970008, 0.01903157, 0.01293024, 0.00926162, 0.00891012,
       0.00865812, 0.00788773, 0.00732367, 0.0068537 , 0.00643184,
       0.00543142, 0.00512526, 0.00380155, 0.00306689, 0.00279251])

In [68]:
principalDf = pd.DataFrame(printcipalComponents)

X_train, X_test, y_train, y_test = train_test_split(principalDf, data['target'], test_size=0.2)

In [69]:
# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': np.arange(300, 800, 50),
             'gamma': np.arange(3,40,5)}

# result = []

# for C in parameters['C']:
#     for gamma in parameters['gamma']:
#         clf = svm.SVC(C=C, kernel='rbf', gamma=gamma, )
#         clf.fit(X_train, y_train)
#         y_pred = clf.predict(X_test)
        
#         temp = {}
#         temp['C'] = C
#         temp['gamma'] = gamma
#         temp['test_err'] = np.mean(y_test == y_pred)
#         result.append(temp)
        
# result = pd.DataFrame(result)
# result = result.sort_values('test_err', ascending=0)
# result.head(10)

grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 5)

grid_svm.fit(X_train, y_train)

result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False).head(10)

      C  gamma  mean_test_score
0   300      3         0.713253
79  750     38         0.708434
8   350      3         0.706024
16  400      3         0.706024
71  700     38         0.703614
63  650     38         0.703614
24  450      3         0.696386
32  500      3         0.696386
40  550      3         0.693976
55  600     38         0.693976

In [71]:
# model test

svm_clf = svm.SVC(C=300, gamma=3, kernel = 'rbf',random_state=100)

svm_clf.fit(X_train, y_train)

y_pred = svm_clf.predict(X_test)

test_acc = np.mean(y_test == y_pred)

print('test acc: ', test_acc)

test acc:  0.6538461538461539

# 로지스틱 변수만 사용`

In [140]:
temp_df = df[['매출액_b1', '순이익률_b1', '부채비율_b1']]

In [141]:
scaler.fit(temp_df)
X_scaled = scaler.transform(temp_df)

In [142]:
# 변환된 X로 데이터 분할
X_train, X_test, y_train, y_test = ms.train_test_split(
    X_scaled, df['target'],test_size = 0.2, random_state = 100
)

In [37]:
# 테스트하고자 하는 파라미터 값들을 사전타입으로 정의

svm_clf = svm.SVC(kernel = 'rbf',random_state=100)
parameters = {'C': np.arange(300, 800, 50),
             'gamma': np.arange(3,40,5)}

# result = []

# for C in parameters['C']:
#     for gamma in parameters['gamma']:
#         clf = svm.SVC(C=C, kernel='rbf', gamma=gamma, )
#         clf.fit(X_train, y_train)
#         y_pred = clf.predict(X_test)
        
#         temp = {}
#         temp['C'] = C
#         temp['gamma'] = gamma
#         temp['test_err'] = np.mean(y_test == y_pred)
#         result.append(temp)
        
# result = pd.DataFrame(result)
# result = result.sort_values('test_err', ascending=0)
# result.head(10)

grid_svm = GridSearchCV(svm_clf,
                      param_grid = parameters, cv = 5)

grid_svm.fit(X_train, y_train)

result = pd.DataFrame(grid_svm.cv_results_['params'])
result['mean_test_score'] = grid_svm.cv_results_['mean_test_score']
result.sort_values(by='mean_test_score', ascending=False).head(10)

      C  gamma  mean_test_score
40  550      3         0.732530
64  700      3         0.732530
56  650      3         0.732530
48  600      3         0.732530
32  500      3         0.732530
24  450      3         0.732530
8   350      3         0.730120
72  750      3         0.730120
16  400      3         0.727711
0   300      3         0.720482

In [144]:
# model test

svm_clf = svm.SVC(C=400, gamma=8, kernel = 'rbf',random_state=100)

svm_clf.fit(X_train, y_train)

y_pred = svm_clf.predict(X_test)

test_acc = np.mean(y_test == y_pred)

print('test acc: ', test_acc)

test acc:  0.7596153846153846